doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href='#') WebCommunity
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.navbar-collapse.collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='#')
                small 인티포털
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#')
                small 익명잡담
            li.nav-item
              a.nav-link(href='#')
                small 익명예잡
            li.nav-item
              a.nav-link(href='#')
                small 뷰티패션
            li.nav-item
              a.nav-link(href='#')
                small 만화애니
            li.nav-item
              a.nav-link(href='#')
                small 장터공구
            li.nav-item
              a.nav-link(href='#')
                small 공포괴담
            li.nav-item
              a.nav-link(href='#')
                small 팬픽빙의
            li.nav-item
              a.nav-link(href='#')
                small 공부진로
            li.nav-item
              a.nav-link(href='#')
                small 뉴스
            li.nav-item
              a.nav-link(href='#')
                small 일정
            li.nav-item
              a.nav-link(href='#')
                small iChart
            li.nav-item
              a.nav-link(href='#')
                small 운세게임
    block content
    footer.py-5.bg-dark
      .container
        p.m-0.text-center.text-white Copyright &copy; WebCommunity 2019
    script(src='/jquery.min.js')
    script(src='/js/bootstrap.bundle.min.js')
